
<div class="main-block main-width">
    <div class="main-block__content">
        <h1 data-i18n="main.title" class="main-block__title">Go OG — Follow the Trends</h1>
        <div data-i18n="main.description" class="main-block__description">A community-driven platform discovering and tracking sports content across MENA.</div>
        <div class="main-block__search">
            <div class="main-block__form">
                <button type="submit" class="main-block__btn" id="search-btn">
                </button>
                <input data-i18n-placeholder="search.placeholderMain" id="search-input" name="search" type="text" class="main-block__input" placeholder="Search Trends & News" />
            </div>
        </div>
    </div>
    <div class="top-news"> 
        <div class="top-news__slider swiper">
            <div class="swiper-wrapper" id="top-news-list">
                <!-- Новости по Турции будут подгружаться динамически -->
            </div>
        </div>
    </div>
</div>   