<div class="search-page main-width">
    <div class="search-page__top">
        <div class="search-form">
            <input data-i18n-placeholder="main.button" id="search-input" name="search" type="text" class="search-form__input search-input" placeholder="Search Trends & News" />   
            <button type="submit" class="search-form__btn btn search-button" id="search-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path d="M17.5003 17.5003L13.8753 13.8753M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
            </button>
        </div>
        <div class="news__sort sort">
            <button class="sort__btn active" data-i18n="sort.sort-defaul" id="sort-default">Rising</button>
            <button class="sort__btn" data-i18n="sort.sort-likes"id="sort-likes">Hot</button>
            <button class="sort__btn" data-i18n="sort.sort-date"id="sort-date">New</button>
        </div>
    </div>
        <div class="news__list"></div>
        </div>
</div>