<div class="top-trends main-width">
    <div class="main-title">
        <h2 data-i18n="trends.title">Top Trends</h2>
        <span data-i18n="trends.description">Real-time tracking of the hottest sports topics across </span>
    </div>
    <div class="top-trends__container">
        <div class="top-trends__list">
            <div class="top-trends__title">
                <img src="images/icon-turkey.webp"> Turkey
            </div>
            <ul>     
            </ul>
        </div>
        <div class="top-trends__list">
            <div class="top-trends__title">
                <img src="images/icon-az.webp"> Azerbaijan
            </div>
            <ul>
            </ul>
        </div>
        <div class="top-trends__list">
            <div class="top-trends__title">
                <img src="images/icon-leb.webp"> Lebanon
            </div>
            <ul>
                
            </ul>
        </div>
    </div>
</div>