.top-trends {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;

     @media (max-width: 767px) {  
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 12px;
     }

    &.hidden {
            display: none;
        }

    &__container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 12px;

         @media (max-width: 767px) {  
         
            flex-direction: column;
         }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;
        width: calc(100% / 3 - 8px);
        padding: 8px;
        border-radius: 40px;
        background: #FFF;

        @media (max-width: 767px) {  
            width: 100%;
        }   
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 24px;
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;

         @media (max-width: 767px) {  
            font-size: 20px;
            line-height: 28px;
            padding: 12px;
            gap: 8px;
         }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            padding: 24px;
            border-radius: 100px;
            background: #F4F9FF;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.3s ease;

             @media (max-width: 767px) {  
                padding: 12px;
                font-size: 16px;
             }

            div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 4px;
            }

            &::before {
                content:'';
                display: flex;
                width: 24px;
                height: 24px; 
                background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'><path d='M19.0004 19.0004L17.5 17.5M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z' stroke='%23001A33' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") no-repeat center/contain;           
            
             @media (max-width: 767px) {  
                width: 16px;
                height: 16px; 
             }
            }

            span {
                margin-left: auto;
                font-size: 20px;
                opacity: 0.33;
            }

            &:hover {
                background: #E3EDF9;
            }

            &--custom {
                background: #14A0FF;
                color: #FFF;

                 &::before {
                    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'><path d='M19.0004 19.0004L17.5 17.5M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>") no-repeat center/contain;           
                 }

                 span {
                    opacity: 0.66;
                 }

                 div {
                    &::after {
                        content:'';
                        display: flex;
                        width: 24px;
                        height: 24px; 
                        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='16' viewBox='0 0 10 16' fill='none'><path d='M2.33337 2L8.33337 8L2.33337 14' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/></svg>") no-repeat center/contain;           
                    }
                 }

                 &:hover {
                    background: #42B3FF;
                 }
            }
        }

}